$primary: rgb(167, 235, 31);
$dark: #262525;

$navbar-dark-color: white;
$navbar-dark-active-color: $primary;

$background-colour: #393939;
$primary-colour-hover: #f54b8d;
$nav-colour: #262525;
$background-dark: rgba(0, 0, 0, 0.5);

$grey: #d9d9d9;
$font-primary: "Gowun Dodum", sans-serif;
